<li class="row-outer" id="marker_{{ marker.id }}">
    <div class="row-inner">
        <button class="btn marker-list-btn" onclick="jumpToMarker({{ marker.id }})">{{ marker.name }} </button>
    </div>
    <div class="row-inner">
        <form
                hx-confirm="Really?"
                hx-target="closest li"
                hx-swap="outerHTML swap"
                hx-delete="delete/{{ marker.id }}"
        >
            <input type="submit" value="X" class="btn marker-list-btn btn-del">
        </form>
    </div>
    <script>
        if (markers.filter(m => m.id === {{ marker.id }}).length === 0) {
            addMarkerToMap({{ marker.latitude }}, {{ marker.longitude }}, "{{ marker.name }}", {{ marker.id }});
        }
    </script>
</li>