{% load leaflet_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django leaflet implementation</title>
    {% leaflet_js %}
    {% leaflet_css %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <style>
        .leaflet-container {
            height: 99vh;
        }
    </style>
    <script>


        let map = undefined;
        let markers = [];
        {# using leaflet Api: https://django-leaflet.readthedocs.io/en/latest/templates.html #}
        {% for marker in markers %}
            markers.push({
                "id": {{ marker.id }},
                "name": "{{ marker.name }}",
                "leaflet_marker": L.marker([{{ marker.latitude }}, {{ marker.longitude }}])
            });
        {% endfor %}

        window.addEventListener("map:init", function (event) {
            map = event.detail.map;
            markers.forEach(function (marker) {
                marker.leaflet_marker.addTo(map);
            });

        });

        const addMarkerToMap = function (lat, lng, name, id) {

            const lmarker = L.marker([lat, lng]);
            markers.push({
                "id": id,
                "name": name,
                "leaflet_marker": lmarker
            });
            lmarker.addTo(map);
            map.setView([lat, lng], 13);
        }

        const jumpToMarker = function (id) {
            const marker = markers.find(function (marker) {
                return marker.id === id;
            });
            map.setView(marker.leaflet_marker.getLatLng(), 13);
        }

        const removeMarkerFromMap = function (id) {
            let m = markers.filter(function (marker) {
                return marker.id === id;
            })
            map.removeLayer(m[0].leaflet_marker);
        }

        window.onload = function () {
            console.log("window.onload");

            document.body.addEventListener("delete_marker_from_map", function (event) {
                removeMarkerFromMap(event.detail.value);
            });
        }

    </script>

</head>
<body class="App" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

<form class="input-form"
        id="markerForm"
      hx-post="create/"
      hx-target="#marker-list"
      hx-swap="afterend"
>
    <label for="name">
        Name
        <input class="input-field" type="text" value="Dummy name" name="name">
    </label>
    <label for="lat">
        Latitude
        <input class="input-field" type="text" value="10" name="lat">
    </label>
    <label for="lng">
        Longitude
        <input class="input-field" type="text" value="1" name="lng">
    </label>
    <input type="submit" class="btn" value="Add Marker">
</form>

<div class="markerList">
<ul id="marker-list" >
    {% for marker in markers %}
        {% include "partials/marker_list_element.html" %}
    {% endfor %}
</ul>
</div>

<div class="main">
{% leaflet_map "map" %}
</div>
</body>
<script src="https://unpkg.com/htmx.org@1.6.1"></script>

</html>